@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1658907988862') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\343a";
}

.icon-gengduo:before {
  content: "\f0343";
}

.icon-fl-renyuan:before {
  content: "\e625";
}

